---
import MainLayout from "../../../layouts/MainLayout.astro";
import OrchestralSeatingNav from "../../../components/OrchestralSeatingNav";

import { type CollectionEntry, getCollection, render } from "astro:content";


export async function getStaticPaths() {
    const instruments = await getCollection("instruments");

    return instruments.map((instrument : CollectionEntry<"instruments">) => ({
        params: {
            slug: instrument.data.slug,
        },
        props: {
            instrument,
        },
    }));
}

interface Props {
    instrument: CollectionEntry<"instruments">;
}

const { instrument } = Astro.props;

const { Content } = await render(instrument);

const {
    fullName,
    sittingChartSections,
} = instrument.data;
---

<MainLayout title={fullName}>
    <main class="instrument-page">
        <header class="instrument-header">
            <h2>{fullName}</h2>
        </header>

        <section class="instrument-seating-chart">
            <OrchestralSeatingNav client:load
                highlightList={sittingChartSections}
            />
        </section>

        <article class="instrument-content">
            <Content />
        </article>
    </main>
</MainLayout>

<style>
    .instrument-page {
        width: min(100% - 2rem, 800px);
        margin: 0 auto;
        padding: 3rem 0 6rem;
    }

    .instrument-header {
        margin-bottom: 2rem;
    }

    h2 {
        margin: 0;
    }

    .instrument-seating-chart {
        width: 300;
        margin: 0;
    }

    .instrument-content {
        margin: 0 auto;
    }
</style>