/* ============================================================ */
/* ABCJS Score                                                   */
/* ============================================================ */

.abcjs-score {
    max-width: 30%;
    min-width: 200;
    margin: 2rem auto;
    padding: 0.1rem 0.1rem;
    color: black;
    background: var(--score-background);

    border-radius: var(--radius);
    box-shadow: var(--shadow);

    overflow-x: auto;
}

.chord-score {
    max-width: 100;
    max-height: 100;
}

.abcjs-score__content {
    width: fit-content;
}

/* Let ABCJS determine its natural size */
.abcjs-score svg {
    display: block;

    width: auto;
    height: auto;

    max-width: none;
}

.no-selection .abcjs-note_selected {
    fill: black;
}

@media (max-width: 600px) {
    .abcjs-score {
        max-width: 50%;
    }
}