---
import MainLayout from "../../../layouts/MainLayout.astro";
import OrchestralSeatingChart from "../../../components/OrchestralSeatingChart";

import { type CollectionEntry, getCollection, render } from "astro:content";


export async function getStaticPaths() {
    const families = await getCollection("families");

    return families.map((family : CollectionEntry<"families">) => ({
        params: {
            slug: family.data.slug,
        },
        props: {
            family,
        },
    }));
}

interface Props {
    family: CollectionEntry<"families">;
}

const { family } = Astro.props;

const { Content } = await render(family);

const {
    fullName,
    sittingChartSections,
} = family.data;
---

<MainLayout title={fullName}>
    <main class="family-page">
        <header class="family-header">
            <h2>{fullName}</h2>
        </header>

        <section class="family-seating-chart">
            <OrchestralSeatingChart
                highlightList={sittingChartSections}
            />
        </section>

        <article class="family-content">
            <Content />
        </article>
    </main>
</MainLayout>

<style>
    .family-page {
        width: min(100% - 2rem, 1200px);
        margin: 0 auto;
        padding: 3rem 0 6rem;
    }

    .family-header {
        margin-bottom: 2rem;
    }

    h1 {
        margin: 0;
    }

    .family-seating-chart {
        width: 200;
        margin: 0;
    }

    .family-content {
        max-width: 800px;
        margin: 0 auto;
    }
</style>